body {
    background-color: rgb(112, 53, 168);
}

.navbar-dark a.navbar-brand {
    color: rgb(30, 179, 75);
    font-size: 33px;
}

div.resource-links a {
    color: rgb(30, 179, 75);
    clear: both;
}

h2 {
    color: rgb(0, 178, 209);
}