body {
    background-image: url("../image/leaf-cancer-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-dark a.navbar-brand {
    color: rgb(30, 179, 75);
    font-size: 33px;
}

span.special-color {
    color: rgb(106, 106, 182);
}

div.resource-links a {
    color: rgb(106, 106, 182);
}

h2 {
    color: rgb(30, 179, 75);
    border-bottom: 1px solid currentColor;
}

h3 {
    color: rgb(30, 179, 75);
    border-bottom: 1px solid currentColor;
}

div.relay-links a {
    color: rgb(106, 106, 182);
}

button.btn.btn-success {
    padding: 0px 16px 0px 16px;
    margin: 32px 4px 16px 4px;
}

label {
    color: rgb(106, 106, 182);
}

.container {
    margin-top: 27px;
}

span.footer-special-color {
    color: rgb(106, 106, 182);
}

a#beginnig-text-color.navbar-brand-footer {
    color: rgb(30, 179, 75);
    text-align: center;
    width: 100%;
}

span.special-color {
    color: rgb(106, 106, 182);
}

span.business-title-green-color {
    color: rgb(30, 179, 75);
}

a.link-color {
    color: rgb(106, 106, 182);
}



/* Media Queries - 640px */

/* Index */

@media screen and (max-width: 640px) {

    .container {
      width: 100%;
      text-align: center;
    }
  
    nav {
      width: 100%;
    }
  
    section {
      width: 100%;
    }
  
    h2 {
      width: 100%;
    }
  
    .resource-links {
      width: 100%;
    }
  
    .section {
      width: 100%;
    }
  
    h3 {
      width: 100%;
    }

    .relay-links {
        width: 100%;
    }
    
    .header-location {
        width: 100%;
    }

    form {
        width: 100%;
    }

    footer {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
       width: 320px;
     }
  }

  /* About */
  
  @media screen and (max-width: 640px) {
  
    nav {
      width: 100%;
    }
  
    .container {
      width: 100%;
    }
  
    h2 {
      width: 100%;
    }
  
    .resource-links {
      width: 100%;
    }
  
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
      width: 320px;
    }
  }
  
  /* Contact */
  
  @media screen and (max-width: 640px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
      width: 320px;
    }
  }

  /* Resources */
  /* Centers */

  @media screen and (max-width: 640px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
      width: 320px;
    }
  }

  /* Groups */

  @media screen and (max-width: 640px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
      width: 320px;
    }
  }

  /* Oncologists */

  @media screen and (max-width: 640px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
      width: 320px;
    }
  }

  /* Psycho-Oncologists */

  @media screen and (max-width: 640px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 320px) {
  
    .container {
      width: 320px;
    }
  }

/* Miles-4-Life */

/* Survivorship */

@media screen and (max-width: 640px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .container {
    width: 320px;
  }
}

/* Organizations */

@media screen and (max-width: 640px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .container {
    width: 320px;
  }
}

/* Fundraisers */

@media screen and (max-width: 640px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .container {
    width: 320px;
  }
}

/* Cancer-Relays */

@media screen and (max-width: 640px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .container {
    width: 320px;
  }
}

/* Associations */

@media screen and (max-width: 640px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .container {
    width: 320px;
  }
}


/* Media Queries - 768px */

/* Index */

@media screen and (max-width: 768px) {

    .container {
      width: 100%;
    }
  
    nav {
      width: 100%;
    }
  
    section {
      width: 100%;
    }
  
    h2 {
      width: 100%;
    }
  
    .resource-links {
      width: 100%;
    }
  
    .section {
      width: 100%;
    }
  
    h3 {
      width: 100%;
    }

    .relay-links {
        width: 100%;
    }
    
    .header-location {
        width: 100%;
    }

    form {
        width: 100%;
    }

    footer {
        width: 100%;
    }
  }

  /* About */
  
  @media screen and (max-width: 768px) {
  
    nav {
      width: 100%;
    }
  
    .container {
      width: 100%;
    }
  
    h2 {
      width: 100%;
    }
  
    .resource-links {
      width: 100%;
    }
  
    footer {
      width: 100%;
    }
  }

  /* Contact */
  
  @media screen and (max-width: 768px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  @media screen and (max-width: 640px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }
  
  /* Resources */
  /* Centers */

  @media screen and (max-width: 768px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Groups */

  @media screen and (max-width: 768px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Oncologists */

  @media screen and (max-width: 768px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Psycho-Oncologists */

  @media screen and (max-width: 768px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

/* Miles-4-Life */

/* Survivorship */

@media screen and (max-width: 768px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Organizations */

@media screen and (max-width: 768px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Fundraisers */

@media screen and (max-width: 768px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Cancer-Relays */

@media screen and (max-width: 768px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Associations */

@media screen and (max-width: 768px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

 
/* Media Queries - 980px */

/* Index */

@media screen and (max-width: 980px) {

  .container {
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
  }

  section {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  .section {
    width: 100%;
  }

  h3 {
    width: 100%;
  }

  .relay-links {
      width: 100%;
  }
  
  .header-location {
      width: 100%;
  }

  form {
      width: 100%;
  }

  footer {
      width: 100%;
  }
}

/* About */

@media screen and (max-width: 980px) {

  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Contact */

@media screen and (max-width: 980px) {
  
  nav {
    width: 100%;
  }
  
  .container {
    width: 100%;
  }
  
  .resource-links {
    width: 100%;
  }
  
  footer {
    width: 100%;
  }
}

/* Resources */
  /* Centers */

  @media screen and (max-width: 980px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Groups */

  @media screen and (max-width: 980px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Oncologists */

  @media screen and (max-width: 980px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Psycho-Oncologists */

  @media screen and (max-width: 980px) {
    
    nav {
      width: 100%;
    }
    
    .container {
      width: 100%;
    }
    
    .resource-links {
      width: 100%;
    }
    
    footer {
      width: 100%;
    }
  }

  /* Miles-4-Life */

/* Survivorship */

@media screen and (max-width: 980px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Organizations */

@media screen and (max-width: 980px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Fundraisers */

@media screen and (max-width: 980px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Cancer-Relays */

@media screen and (max-width: 980px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

/* Associations */

@media screen and (max-width: 980px) {
  
  nav {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .resource-links {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}